*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 35px 12%;
    background:black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
.logo{
    font-size:25px;
    color:white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: rgb(35, 112, 35);
    text-shadow: 0 0 25px rgb(27, 109, 27);
    transform: scale(1,1);
}
span{
    color:rgb(32, 155, 32);
   
}
.navbar{
    display: inline-block;
}
.navbar ul li a{
    font-size: 18px;
    color:white;
    font-weight: 500;
    margin:0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a:active{
    color: rgb(44, 143, 44);
    border-bottom: 1px solid rgb(38, 128, 38);
}
.contact{
    padding: 10px 20px;
    background-color: white;
    color:black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size:16px;
    letter-spacing:1px;
    font-weight:600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: rgb(41, 143, 41);
    box-shadow: 0 0 25 px rgb(33, 136, 33);
    color:white;
}
.home{
    width:100%;
    min-height:100vh;
    background: white;
    display:flex;
    align-items: center;
    gap:7cm;
    padding: 30px 12% 0;
    background-image: url(images/aurora.jpg);
    background-size: cover;

}

.home-content h3{

    font-size: 42px;
}
.home-content h1{
    margin:10px;
    color: white;
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 10px;
    color: white;
}
.btn-box{
    width:345px;
    display:flex;
    gap:2cm;
}
.btn-1{
    padding: 15px 20px;
    background-color: black;
    color:white;
    border:2px solid transparent;
    border-radius: 8px;font-size:18px;
    letter-spacing:1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor:pointer

}
.btn-1:hover{
    background-color: white;
    color:black;
    border:2px solid black;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color:  rgb(34, 119, 34);
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}
.info{
    width:100%;
    min-height:100vh;
    background: white;
    display:flex;
    align-items: center;
    gap:7cm;
    padding: 30px 12% 0;
    background-image: url(images/aurora.jpg);
    background-size: cover;
}
.info-content{
    color:white;
}
.info-content-p{
    margin:20px;
    color:white;
}
.education{
    width:100%;
    min-height:100vh;
    background: white;
    display:flex;
    align-items: center;
    gap:7cm;
    padding: 30px 12% 0;
    background-image: url(images/aurora.jpg);
    background-size: cover;
}
.education-content{
    font-size:20px;
    color:white;
}
